@import url("https://fonts.googleapis.com/css2?family=Questrial:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nokora:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --tipography-h1: Questrial;
  --font-nokora: Nokora;
  --tipography-paragraph: Inter;
  --font-quicksand: Quicksand;

  /* font sizes */
  --tipography-paragraph-size: 15px;
  --font-size-xl: 20px;
  --font-size-2xs: 11px;
  --tipography-h2-size: 22px;
  --tipography-h1-size: 36px;
  --font-size-lg: 18px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #101010;
  --color-secondary: #d9d9d9;
  --color-secondaryhover: #ff5f2d;
  --color-primaryhover: #3e3e3e;

  /* Gaps */
  --gap-3xl: 22px;

  /* Paddings */
  --padding-2xl: 21px;
  --padding-264xl: 283px;
  --padding-274xl: 293px;

  /* Border radiuses */
  --br-smi: 13px;
  --br-2xs: 11px;
  --br-3xs: 10px;
  --br-75xl: 94px;
}
